.main-five-day {
    display: flex;
    justify-content: space-between;
}

body {
    font-family: 'Fira Sans', sans-serif;
}

header {
    background-color: rgb(25, 135, 84);
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    padding: 15px 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
}